---
import type { MarkdownHeading } from 'astro'
import { getCollection } from 'astro:content'

import Prose from '@/components/prose/index.astro'
import Sidebar from '@/components/sidebar/index.astro'
import Summary from '@/components/summary/index.astro'
import type { NavigationItem } from '@/types'

import BaseLayout from './base.astro'

interface Props {
  title: string
  minutesRead: string
  lastModified: string
  headings?: Array<MarkdownHeading>
}

const { title, minutesRead, lastModified, headings } = Astro.props

const ssoCollection = await getCollection('sso')

const ssoRoutes: NavigationItem = {
  display: 'SSO',
  path: '/docs/sso',
  children: ssoCollection.map(({ id, data: { title } }) => ({
    display: title,
    route: `/docs/sso/${id}`,
  })),
}
---

<BaseLayout title={title}>
  <div class="container relative flex w-full grow gap-10">
    <Sidebar items={[ssoRoutes]} />
    <div class="grow py-6">
      <Prose>
        <slot />
      </Prose>
    </div>
    <Summary
      minutesRead={minutesRead}
      lastModified={lastModified}
      headings={headings}
    />
  </div>
</BaseLayout>
